@use './utils/normalize' as *;
@import 'utils';
@import 'fonts';
@import 'typography';
@import './blocks/header.scss';
@import './blocks/menu.scss';
@import './blocks/main_content.scss';
@import './blocks/footer.scss';

* {
  scroll-behavior: smooth;
}

body {
  background: $c-gray;
  overflow-x: hidden;
}
